@model TravelERP.Models.UnuserContactsInfo

@{
    ViewData["Title"] = "Success";
}

<h2>نجاح ارسال البيانات</h2>
<div class="row align-items-center mt-3 mb-3">
    <div class="col">
        <div class="form-control border-light shadow-sm rounded  h-75 " style="width:500px;margin:auto;background-color:paleturquoise">
            <h5 class="text-center" color="green">تم ارسال البيانات وسيتم التواصل معك فى اقرب وقت</h5>
        </div>
    </div>
</div>

