@model TravelERP.Models.Developer

@{
    ViewData["Title"] = "Delete";
}

<h2>إلغاء</h2>

<h3>هل انت متأكد من عمليه الحذف؟</h3>
<div>
    <h4>رساله المطور</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">العوده للقائمه الرئيسيه</a>
    </form>
</div>
