@model TravelERP.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h2>تعديل</h2>

<h4>شركه او فرع</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CompanyLogo" />
            <input type="hidden" asp-for="CompanyA4EsalImage" />

            <div class="form-group">
                <label asp-for="Company_Name" class="control-label"></label>
                <input asp-for="Company_Name" class="form-control" />
                <span asp-validation-for="Company_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_NameE" class="control-label"></label>
                <input asp-for="Company_NameE" class="form-control" />
                <span asp-validation-for="Company_NameE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_Address" class="control-label"></label>
                <input asp-for="Company_Address" class="form-control" />
                <span asp-validation-for="Company_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_PhonesNumber" class="control-label"></label>
                <input asp-for="Company_PhonesNumber" class="form-control" />
                <span asp-validation-for="Company_PhonesNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeCountry" class="control-label"></label>
                <select asp-for="DateTimeCountry" class="form-control">
                    <option value="Egypt Standard Time">مصر</option>
                    <option value="Arabian Standard Time">الامارات العربيه المتحده</option>
                </select>
                <span asp-validation-for="DateTimeCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">العوده للقائمه الرئيسيه</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
