@model TravelERP.Models.MenuLE1

@{
    ViewData["Title"] = "Edit";
}

<h3>تعديل</h3>

<h4>قائمه إيصالات منسدله 1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MenuLE0Id" />
            <div class="form-group">
                <span style="color:red">*</span> <label asp-for="M1_Name" class="control-label"></label>
                <input asp-for="M1_Name" class="form-control" />
                <span asp-validation-for="M1_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary">الرجوع للقائمه الرئيسيه</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
