@model TravelERP.Models.ViewModel.Transactions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transactions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EId" class="control-label"></label>
                <input asp-for="EId" class="form-control" />
                <span asp-validation-for="EId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDate" class="control-label"></label>
                <input asp-for="EDate" class="form-control" />
                <span asp-validation-for="EDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debit" class="control-label"></label>
                <input asp-for="Debit" class="form-control" />
                <span asp-validation-for="Debit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                <input asp-for="Credit" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement" class="control-label"></label>
                <input asp-for="Statement" class="form-control" />
                <span asp-validation-for="Statement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
