@model TravelERP.Models.MenuLZ0

@{
    ViewData["Title"] = "Create";
}

<h3>إنشاء</h3>

<h4>قائمه اذون منسدله رئيسيه</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <span style="color:red">*</span> <label asp-for="M0_Name" class="control-label"></label>
                <input asp-for="M0_Name" class="form-control" />
                <span asp-validation-for="M0_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="إنشاء" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">الرجوع للقائمه الرئيسيه</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
