@model TravelERP.Models.NonSupplier

@{
    ViewData["Title"] = "Create";
}
<h2>إضافه</h2>

<h4>مورد جديد للفصل</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">اسم المورد</label>
                <select asp-for="CustomerSupplierId" class="form-control" asp-items="ViewBag.CustomerSupplierId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="إنشاء" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">العوده للقائمه السابقه</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
