@model TravelERP.Models.NonSupplier

@{
    ViewData["Title"] = "Delete";
}

<h2>حذف</h2>

<h3>هل انت متأكد من عمليه الحذف</h3>
<div>
    <h4>فصل الموردين</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerSupplierId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerSupplierId)
        </dd>
        <dt>
            @Html.DisplayName("اسم المورد")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerSupplier.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-danger">العوده للقائمه الرئيسيه</a>
    </form>
</div>
